
{{ define "Edit" }}
{{ template "Header" }}
  {{ template "Menu" }}
  <head>

  </head>

   <body  onload="resetSelection()">

  <form method="POST" action="update">
  
  <input type="hidden" name="uid" value="{{ .Id }}" />
  <fieldset>
    <legend>Edit User</legend>
    <div class="columns">
<div class="item">
    <label> Name </label> <input type="text" name="name" value="{{.Name}}" ></input>
</div>

    <br />

    <div class="item">
    <label> Birthdate </label><input type="date" name="birthdate" value={{.Birthdate}} />
    </div>
    <br />

    <div class="item">
    <label> Address : </label><input type="text" value={{.Address}} name="address" />
    </div>
    <br />


<div class="item">
<label> Pancard : </label><input type="text" name="pancard" value="{{.Pancard}}"/>
</div>
<br />

<div class="item">
<label> Familydetails : </label><input type="text" name="familydetails" value="{{.Familydetails}}" />
</div>
<br />
    </div>
  </fieldset>
<div class="div-input" style="padding-left: 526px; padding-right: 501px;">
    <input type="submit" style="color:white; background-color:#8ebf42; width:200px;" id="btn-submitt" value="Save" />
</div>
    
  </form>
  </body>
{{ template "Footer" }}
{{ end }}


